*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color:#1A0B2E;
    color: #FFFFFF;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* navbar */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 120px;
    border-bottom: 0.5px solid  #a4a5a869;
}

.nav-link{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

#wave{
    background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 50%,
    #9100F8 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn{
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    background-image: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
}

/* hero-section */

.hero-parent {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
    rgba(0, 25, 49, 0.2)
    ), url("./assets/hero-bg.png");
    background-position: center;
    background-size: cover;
}

.hero{
    text-align: center;
    width: 100%;
    margin: 100px auto;
    position: relative;
}

.hero img:first-child {
    display: block;
    margin: 0 auto;
}

.hero img:nth-child(2) {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -60px;
}

.hero h1{
    font-style: Bold;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}

.hero p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 80px; 
}

#btn2{
    border: 1px solid rgba(0, 255, 136, 1);
    color:rgba(0, 255, 136, 1);
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 16px;
    background: none;
}

#new-btn {
    position: absolute;
    top: 25px;
    left: 45%;
    margin-left: 170px;
    border-radius: 10000px;
    font-weight: 600;
    font-size: 18px;
    background:#00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.6);
}

