*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color:#1A0B2E;
    color: #FFFFFF;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* navbar */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 120px;
    border-bottom: 0.5px solid  #a4a5a869;
}

.nav-link{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

#wave{
    background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 50%,
    #9100F8 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn{
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 24px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    background-image: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
}

