*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color:#1A0B2E;
    color: #FFFFFF;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* navbar */

.navbar{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px; /* FIXED height */
}

/* logo */
.nav-inner h2{
    font-size: 28px;
    font-weight: 700;
}

/* nav links */
.nav-link{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    font-weight: 500;
}

.wave{
    background: linear-gradient(
    47.64deg,
    #F7E93F 0%,
    #FB09B4 50%,
    #9100F8 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* subscribe button */
.nav-btn{
    padding: 10px 18px;
    font-size: 15px;
    gap: 6px;
    display: flex;
    align-items: center;
}

/* hero-section */

.hero-parent {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
    rgba(0, 25, 49, 0.2)
    ), url("./assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    border-top: 0.5px solid  #a4a5a869;
}

.hero{
    text-align: center;
    width: 100%;
    margin: 100px auto;
    position: relative;
}

.hero img:first-child {
    display: block;
    margin: 0 auto;
}

.hero img:nth-child(2){
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.hero h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}

.hero p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

/* all buttons */

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 80px; 
}

.btn{
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    display: flex;
    align-items: center;
    gap: 6px;
    background-image: linear-gradient(
        90deg,
        #F7E93F 0%,
        #FB09B4 50%,
        #9100F8 100%
    );
    color: #FFFFFF;
    background-size: 200% 200%;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.10);
}

#btn2{
    border: 1px solid rgba(0, 255, 136, 1);
    color:rgba(0, 255, 136, 1);
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 16px;
    background: none;
}

#new-btn {
    position: absolute;
    top: 35px;
    right: -5px;
    border-radius: 10000px;
    font-weight: 600;
    font-size: 18px;
    background:#00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.6);
}

.circle-wrap {
    position: relative;
    display: inline-block;
    width: auto;
}

/* podcast */

.full-podcast-sect{
padding: 120px 0px;
}

.podcast-section{
    text-align: center;
    border-bottom: 0.5px solid  #a4a5a869;
    padding-bottom: 80px;
    
}

.podcast-section h2{
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}

.podcast-section p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* podcast card-section */

.card-box {
    padding: 60px 0;
    width: 100%;
}

.card-parent {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap; 
    max-width: 1100px;
    margin: 0 auto; 
    padding: 0 20px; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.card h2{
    color: #00FF88;
    font-size: 48px;
    font-weight: 800;
    margin: 0; 
}

.card p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px; 
}

/* grid section */
.techwave-container{
    width: 100%;
    padding: 120PX 200px;
    background-color: #230E3D ;
}

.techwave-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 40px;
}

/* --- grid layout --- */
.techwave-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: minmax(180px, auto); 
    gap: 24px;
}

.grid-card {
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.grid-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.grid-card h3 {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 700;
}

.grid-card p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}

.grid-audio {
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
    justify-content: center;
}

/* grid area */
.grid-mobile {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.grid-global {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.grid-interviews {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.grid-resources {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

/* Featured Episodes Section */
.featured-episodes {
    padding: 120px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
}

.episodes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.episode-card {
    background-color: #250D44;
    border-radius: 24px;
    overflow: hidden;
    flex: 1 1 350px; 
    max-width: 380px;
}

.video-header {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.video-header iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.play-circle-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 64px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.play-circle-wrapper img {
    width: 32px;
    height: auto;
    display: block;
}

.card-content {
    padding: 24px;
}

.card-content h3 {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 700;
}

.card-content p { 
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.time {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #00FF88;
    font-weight: 600;
    font-size: 16px;
    font-weight: 600;
}

.clock-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

/* host challenge */
.host-section{
    margin-bottom: 120px;
}

.host-title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.host-container{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.host-right h3{
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
}

.host-right p{
    color:rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.host-medias{
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.media-circle{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid rgba(140, 120, 170, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-circle img{
    width: 22px;
    height: 22px;
    object-fit: contain;
}

/* footer */
.footer-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(0, 25, 49, 0.2),
        rgba(0, 25, 49, 0.2)
    ), url("./assets/footer-bg.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    
}

.footer{
    max-width: 900px;
    width: 100%;
    padding: 100px 20px;
}

.footer h1{
    font-size: 60px;
    margin-bottom: 24px;
}

.footer-icons{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 40px;
    margin-bottom: 32px; 
}

.footer-icons-top,
.footer-icons-bottom{
    display: flex;
    gap: 40px;
}

.footer-media{
    display: flex;
    align-items: center; 
    gap: 8px;
}

.footer-media img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.footer-media p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 500;
    margin: 0; 
}

.footer p{
    color: rgba(250, 250, 250, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.hamburger-menu{
        margin-left: 5px;
        display: none;
    }

/* responsive layouts for mobile device */
@media screen and (max-width: 576px) {
    /* nav & menu section */
    .menu-container {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #1A0B2E; 
        padding: 20px;
        z-index: 100;
    }

    .nav-link {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        padding: 0;
    }

    #check {
        display: none;
        position: absolute;
    }

    #check:checked ~ .menu-container {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }
    
    .hamburger-menu img {
        height: 24px;
        width: auto;
    }
    
    .nav-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding: 0 20px;
    }

    .nav-inner h2 {
        margin: 0;
        display: flex;
        align-items: center;
        line-height: 1;
    }

    /* hero section */
    .hero-parent {
        background-position: center top; 
        background-size: contain;
        background-repeat: no-repeat;
        
        display: flex;
        align-items: flex-start; 
        justify-content: center;
        
        padding-top: 20px; 
    }

    .hero {
         margin-top: 0;
        margin-bottom: 40px;  
    }

    .circle-wrap img:first-child {
        width: 188px; 
        height: auto;
    }

    .hero img:nth-child(2) {
        width: 45px;
        top: 65px;   
    }

    #new-btn {
        top: 5px;
        right: -15px;
    }
    
    .hero h1 {
        font-size: 32px;
        margin-top: 15px;
    }

    .hero p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .podcast-section p{
    line-height: 120%;
    }

        /* grid section */
        .techwave-container{
        padding: 40px 20px;
    }

    .techwave-title{
        font-size: 32px;
        margin-bottom: 16px;
    }

    .techwave-grid{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 24px;
    }

    .grid-audio,
    .grid-mobile,
    .grid-global,
    .grid-interviews,
    .grid-resources{
        grid-column: 1 / -1;
        grid-row: auto;
    }

    .grid-card{
        padding: 24px;
        border-radius: 24px;
    }

    .grid-card h3{
        font-size: 22px;
    }

    .grid-card p{
        font-size: 16px;
    }

    /* featured episodes */
    .episode-card {
    flex: 1 1 420px; 
    max-width: 460px;
    }

    .card-content
    {
        padding: 32px;
    }

  /* host challenge */
    .host-container{
        flex-direction: column; 
        text-align: center;
        padding: 24px;
        gap: 16px;
    }

    .host-left img{
        max-width: 150px;
        margin: 0 auto;
        display: block;
    }

    .host-right p{
        font-size: 16px;
        line-height: 24px;
    }

    .host-medias{
        justify-content: center;
    }
    
    /* footer section */
    .footer{ 
        padding: 15px; 
    } 

    .footer h1{ 
        font-size: 50px; 
    } 

    .footer-icons-top,
    .footer-icons-bottom{
        justify-content: center;
        gap: 30px;
    }
    
    .footer-icons{ 
        flex-direction: column; 
        gap: 16px; 
        margin: 24px; 
    } 
    
    .footer p{ 
        margin: 0; 
    }
}

